/*
  Reset
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  font-family: 'Amaranth', sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.true{
    text-decoration: line-through;
}

.dateWarning-true{
  color : red;
}

.dateWarning-false{
  color : blue;
}

.dateOfList{
  font-size: 25;
}

/*@font-face {
  font-family : 'ribbon';
  src: url("C:/Users/rabit/Desktop/FontTest/Ribbons-and-banners.ttf") format("truetype");
}


@font-face {
  font-family : 'sunnylemon';
  src: url("C:/Users/rabit/Desktop/FontTest/lemon.otf") format("opentype");
}*/

.logo {
  font-family: 'Amaranth', sans-serif;;
  font-size : 80px;
  text-align : center;
  margin-top : 10px;
  margin-bottom : 10px;
  padding-bottom : 15px;
  padding-top : 10px;
  border-bottom: 3px solid lightseagreen;
  border-top: 3px solid lightseagreen;
}


.rightColumn {
  font-size: large;
  text-align: center;
  margin-top : 10px;
}


.dateOfList {
  font-size: 250%;
  border-bottom : 1px solid lightseagreen;
}

.mainDate { 
  margin-bottom : 20px;
}

.leftColumn {
  margin-top : 10px;
  text-align: center;
}

.dateCalender {
  margin-bottom : 20px;
}

.notification {
  font-size: small;
  color : gray;
  font-style : italic;
}

.taskBar {
  background-color : lightseagreen;
  /*font-family : 'ribbon';*/
  font-size : 30px;
  color : white;
}

#todoInput {
  margin-top : 20px;
}

.shareFB {
  text-align: right;
}

.locationInfo {
  margin : 10px;
}

.singleTask {
  margin : 5px;
}

.weatherIcon {
  display : inline-block;
}
/*.addButton {
  margin-top : 0px;
}*/
/*#dueInput {
  margin-top : 5px;
}*/

/*.weatherInfo {
  position: relative;
  display: inline-block;
}

.weatherInfo .extraInfo {
  visibility: hidden;
  width: 120px;
  text-align: center;
  top: -5px;
  left: 105%;
  background-color: lightpink;
  color: black;
  padding: 5px 0;
  border-radius: 3px;
}

.weatherInfo:hover .extraInfo{
  visibility: visible;
}*/
